body 
{
}
    
    .page-head{
    background-color: #6C9498; /* Change background color to red */
    width: 650px;
    height: 60px;
    margin: 0 auto; /* Center horizontally using margin */
    display: flex; /* Use flexbox for vertical centering */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8); /* Add shadow effect */
    margin-bottom:22px;
}

.eee h1 {
    text-align: center;
    padding: 13px;
    text-shadow:3px 3px grey;
}
.full-length-button {
    width: 100%; /* Full width of the container */
    padding: 10px; /* Padding for the button */
    font-size: 16px; /* Font size for the button text */
    background-color: #cc9966; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Centered text */
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

    .full-length-button:hover {
        background-color: #ff6633; /* Darker background on hover */
        /* Darker background on hover */
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.9); /* Larger shadow on hover */
        font-size: 18px;
    }

